html {
  font-family: "Open Sans";
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

  h1 {
  font-size: 2em;
  margin: 0.67em 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

body {
		margin:0;
}

.main {
    width: 100%;
    height: 550px;
    right: 0;
    top: 0;
    left: 0;
    padding: 1rem;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(architecture-building-city-410730.jpg) center center;
    background-size: cover;
    opacity: 0.95;

}

.main img {
	
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #242121;
  left: 0;
  z-index: 10;
  will-change: transform;
  transition: transform 0.1s linear; }
  .header--pinned {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }
  .header--unpinned {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  @media (max-width: 565px) {
    .header {
      height: 70px; } }
  @media (min-width: 566px) {
    .header {
      height: 100px; } }
  .header__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__contact {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	padding-right:10px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 565px) {
      .header__contact {
        width: 74%;
        height: 70px; } }
    @media (min-width: 566px) {
      .header__contact {
        height: 100px;
        padding-top: 5px; } }
  .header__phone {
    display: block;
    color: #e0e0e0;
    transition: color 0.1s linear;
    position: relative; }
    @media (max-width: 565px) {
      .header__phone {
        margin-right: 0;
        padding-left: 50px;
		text-decoration: none;
        font: 600 14px/1 "Work Sans", sans-serif; } }
    @media (min-width: 566px) {
      .header__phone {
        margin-right: 35px;
        padding-left: 20px;
		text-decoration: none;
		color: #e0e0e0;
        font: 600 14px/1 "Work Sans", sans-serif; } }
    .header__phone:hover {
      color: #c9c9c9; }
    .header__phone:before {
      display: inline-block;
      content: '';
      background-image: url(../img/icons/phone.svg);
      background-size: cover;
      position: absolute;
      left: 0; }
      @media (max-width: 565px) {
        .header__phone:before {
          width: 7px;
          height: 17px;
          top: 0; } }
      @media (min-width: 566px) {
        .header__phone:before {
          width: 10px;
          height: 24px;
          top: -4px; } }
		  

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #242121;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 565px) {
    .nav {
      height: 70px; } }
  @media (min-width: 566px) {
    .nav {
      height: 100px; } }
  .nav__logo {
    margin: 0;
    padding: 0; }
  .nav__logo-link {
    display: inline-block;
    margin-top: 4px;
    overflow: hidden; }
    @media (max-width: 565px) {
      .nav__logo-link {
        width: 56px;
        height: 50px; } }
    @media (min-width: 566px) {
      .nav__logo-link {
        width: 80px;
        height: 71px; } }
    .nav__logo-link:before {
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-image: url(../img/logotype.png);
      background-size: cover; }
  .nav__list {
    margin-top: 10px;
    font-size: 0;
    line-height: 0; }
    @media (max-width: 860px) {
      .nav__list {
        display: none; } }
  .nav__item {
    display: inline-block;
    margin-left: 20px; }
  .nav__link {
    font: 600 14px/1 "Work Sans", sans-serif;
    color: #e0e0e0;
    transition: color 0.1s linear;
	text-decoration:none;
  }	
    .nav__link:hover {
      color: #c9c9c9; }
		
.icon img {
    width: 70px;
    height: 70px;
    display: block;
    position: absolute;
	padding-top:5px;
	padding-left:5px;
	opacity: 0.7;
	top: 4px;
	left:10px;
}


.info {
  background-color: #edebe6;
  text-align: center; }
  @media (max-width: 860px) {
    .info__container {
      padding: 40px 40px; } }
  @media (min-width: 861px) {
    .info__container {
      padding: 40px 180px; } }
  .info__content {
    letter-spacing: 0.03em;
    opacity: .8; }
    @media (max-width: 565px) {
      .info__content {
        font: 400 16px/30px "Playfair Display"; } }
    @media (min-width: 566px) {
      .info__content {
        font: 400 20px/36px "Playfair Display"; } }
  .info__icon {
    display: inline-block;
    margin: 5px 10px 17px 10px;
    overflow: hidden; }
    @media (max-width: 565px) {
      .info__icon {
        width: 24px;
        height: 44px; } }
    @media (min-width: 566px) {
      .info__icon {
        width: 36px;
        height: 66px; } }
    .info__icon:before {
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-image: url(../img/icons/hook.svg);
      background-size: cover; }


.services {
  padding-top: 100px;
  letter-spacing: 0.03em; 
  padding-bottom:100px;
  }
  

.headergroup {
  width: 100%;
  text-align: center;
  color: #ffffff; 
  padding-bottom:100px;
  }
  @media (max-width: 565px) {
    .headergroup {
      font: 400 15px/22px "Open Sans", sans-serif; } }
  @media (min-width: 566px) {
    .headergroup {
      font: 400 20px/30px "Open Sans", sans-serif; } }
  .headergroup__name {
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.02em; }
    @media (max-width: 565px) {
      .headergroup__name {
        font: 800 42px/48px "Work Sans", sans-serif; } }
    @media (min-width: 566px) {
      .headergroup__name {
        font: 800 48px/70px "Work Sans", sans-serif; } }
  .headergroup__text {
    margin: 0 auto;
    padding: 0 10px;
    opacity: .7;
    letter-spacing: 0.03em; }
    @media (min-width: 861px) {
      .headergroup__text {
        width: 550px; }
        .headergroup__text--rentals {
          width: 500px; }
        .headergroup__text--team {
          width: 750px; } }
  .headergroup--dark {
    color: #242121; }
  .headergroup--bright {
    color: #ffffff; }
  .headergroup__weak {
    display: block;
    opacity: .6; }
    @media (max-width: 565px) {
      .headergroup__weak {
        font: 400 20px/1 "Bree Serif", serif; } }
    @media (min-width: 566px) {
      .headergroup__weak {
        font: 400 26px/1 "Bree Serif", serif; } }
  @media (max-width: 565px) {
    .headergroup--hero .headergroup__weak {
      margin-bottom: 10px;
      font-size: 24px; } }
  @media (min-width: 566px) {
    .headergroup--hero .headergroup__weak {
      font-size: 32px;
      margin-bottom: 12px; } }
  .headergroup--hero .headergroup__name {
    margin: 0 0 10px 0; }
    @media (max-width: 565px) {
      .headergroup--hero .headergroup__name {
        font-size: 44px;
        line-height: 52px; } }
    @media (min-width: 566px) {
      .headergroup--hero .headergroup__name {
        margin-bottom: 30px;
        font-size: 64px;
        line-height: 72px; } }
  .headergroup--modal .headergroup__weak {
    text-transform: none; }

	
.btn {
  display: block;
  text-align:center;
  transition: color 0.1s linear; 
  border: 2px solid #0e8702;
  background-color: #0e8702;
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.1s linear;
  outline: none; 
  }
  @media (max-width: 565px) {
    .btn {
      width: 100px;
      padding: 7px 5px;
      font: 600 13px/1 "Work Sans", sans-serif; } }
  @media (min-width: 566px) {
    .btn {
      width: 100px;
      padding: 10px;
      font: 600 16px/1 "Work Sans", sans-serif; } }
  .btn:hover {
    background-color: #61d657;
	border: 2px solid #61d657;
    color: black; }

.footer {
    left: 0;
    bottom: 0;
    height: 460px;
    width: 100%;
    background: linear-gradient( rgba(15, 15, 15, 0.97), rgba(15, 15, 15, 0.97) ), url(aerial-android-wallpaper-architectural-design-373912.jpg) center center;
    background-size: cover;
    color: white;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.footer div {
	width:100%;
}
.share {
	width:40px;
	height:40px;
	opacity: 0.6;
}

.developed {
	width: 100%;
	height: 30px;
	background: #232323;
	position:relative;
	top: 70px;
}

.developed p {
	position: relative;
	top: 10px;
}

.share:hover {
	opacity:0.8;
}

.footer h4 {
	padding-top: 30px;
	margin-left:auto;
	margin-right:auto;
	font: 600 22px/1 "Work Sans", sans-serif; 
	color: #d8d8d8;
}

.title {
    padding-top:200px;
    font-size:60px;
    color:white;
    font-family: "Playfair 	Display";
    text-align:center;
	opacity:0.95;
}

.description {
    padding-top: 0px;
    font-size: 22px;
	bottom: 20px;
    color: #afafaf;
    opacity: 1;
    font-family: "Playfair Display";
    text-align: center;
    position:relative;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1030px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
	height:600px;
	
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  font-family:Arial;
  padding: 8px 12px;
  position: absolute;
  font-weight:bold;
  top: 0;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (min-width: 1035px) {
.slideshow-container img {
	border-radius: 6px;
}
}


.Servicos {
    width: 100%;
    height: 500px;
    background: linear-gradient( rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87) ), url(aerial-android-wallpaper-architectural-design-373912.jpg) center center;
    background-size: cover;
    text-align: center;
	padding-top: 5px; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 717px) {
	
	.Servicos {
		width: 100%;
		height: 750px;
	}
}

@media (max-width: 560px) {
	.Servicos h1 {
    padding-top:50px;
	padding-bottom:50px;
	color:white;
}
}
@media (max-width: 560px) {
	.Servicos h2 {
    padding-bottom:20px;
}
}


    .Servicos h3 {
        color: white;
		font: 550 18px/27px "Playfair Display";
		opacity:0.75;
    }
	
	@media (max-width: 900px) {
		.Servicos h3 {
        font: 550 16px/27px "Playfair Display";
    }
	}
	
    .Servicos h2 {
        color: #969696;
        position: relative;
        top:40px;
		font:400 20px/1 "Bree Serif", serif;
    }
	@media (max-width: 565px) {
      .Servicos h2 {
        font: 400 20px/1 "Bree Serif", serif; } }
    @media (min-width: 566px) {
      .Servicos h2 {
        font: 400 26px/1 "Bree Serif", serif;
	 }
	  
    .Servicos img{
        width:50px;
        height:50px;  
		opacity:0.75;
    }
	@media (max-width: 900px) {
	.Servicos img{
		width:40px;
        height:40px;
	}}
	
.coluninhas {
	padding-top:35px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
}

@media (max-width: 717px) {
	.coluninhas {
		padding-top: 0px;
		width:100%;
}
}


.i{
	position:relative;
	bottom: 15px;
}

.t{
	position:relative;
	bottom: 22px;
}

.Servicos h1 {
    color: #e2e2e2;
    padding-bottom: 30px;
    padding-top: 7px;
	text-transform: uppercase;
    letter-spacing: 0.02em; 
}

	@media (max-width: 565px) {
      .Servicos h1 {
        font: 800 42px/48px "Work Sans", sans-serif;
		color: #e2e2e2;	
		} }
    @media (min-width: 566px) {
      .Servicos h1 {
        font: 800 48px/70px "Work Sans", sans-serif;
		color: #e2e2e2;} }

.Servicos p {
    color: #828282;
    font-family:"Open Sans";
    width: 70%;
    text-align:center;
    margin-left: auto;
    margin-right:auto;
    font-size: 16px;
    font-weight:bold;
    padding-top:180px;
}


a {
  text-decoration: none;
  position: relative;

/*
  webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
*/
}
  li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #2db223;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
  transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
  }
  li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #242121; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #218e19; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #61d657; 
}

        .leftf p {
            margin-right: auto;
            margin-left: auto;
            position: relative;
            width: 450px;
            font: 400 18px/27px "Playfair Display";
            color: #9e9e9e;
            padding-top: 50px;
        }

.leftf {
   
    position: relative;
    top: 20px;
}

    .leftf h3 {
        font: 600 20px/1 "Work Sans", sans-serif;
        color: #636363;
        position: relative;
    }

    .leftf a {
        position: relative;
        top: 22px;
        padding-right: 20px;
        left: 10px;
    }